#frm-beneficiari-nirc
{
		.form-group
		{
			float:left;
		}
		.form-group:nth-child(1)
		{
			width:22%;
		}
		.form-group:nth-child(2)
		{
			width:24%;
		}
		.form-group:nth-child(3)
		{
			width:24%;
		}
		.form-group:nth-child(4)
		{
			width:30%;
		}
}

#form-beneficiari
{
	.box-date-generale, .box-date-tip
	{
		.box-header
		{
			padding:0px 0px 0px 0px;
			.box-title
			{
				padding:4px 10px 4px 20px;
			}
			.box-tools
			{
				padding-top:1px;
				padding-bottom:0px;
			}
		}
	}
}